<%- include('includes/header') %>

<main>
    <h1 class="center">Cabinet du docteur Dupont, bonjour <%= user.firstName + ' ' + user.lastName %></h1>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="service-tab" data-bs-toggle="tab" data-bs-target="#serviceTab" type="button" role="tab" aria-controls="service" aria-selected="true">Services</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="news-tab" data-bs-toggle="tab" data-bs-target="#newsTab" type="button" role="tab" aria-controls="news" aria-selected="false">Actualités</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="schedules-tab" data-bs-toggle="tab" data-bs-target="#schedulesTab" type="button" role="tab" aria-controls="schedules" aria-selected="false">Horaires</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="appointment-tab" data-bs-toggle="tab" data-bs-target="#appointmentTab" type="button" role="tab" aria-controls="appointment" aria-selected="false">RDV</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="patient-tab" data-bs-toggle="tab" data-bs-target="#patientTab" type="button" role="tab" aria-controls="patient" aria-selected="false">Patients</button>
        </li>
      </ul>
      
      <!-- Contenu des onglets -->
      <div class="tab-content" id="backOfficeTabContent">
        <%- include('includes/serviceTab') %>
        <%- include('includes/newsTab') %>
        <%- include('includes/schedulesTab') %>
        <%- include('includes/appointmentTab') %>
        <%- include('includes/patientTab') %>
      </div>
<main>
<div style="margin-bottom: 260px; "></div>
<%- include('includes/footer') %>