<%- include('includes/header') %>

<main id="accueilMain">
    <h1 class="center mTop10">
        <div id="titleMainPageSection" class="row">
            <div class="col-2" id="takeAppointmentButtonContainer"><button id="takeAppointment" type="button" class="btn btn-success btn-sm"></button></div>
            <div class="col-8">Cabinet du docteur Dupont</div>
            <div class="col-2" id="connectButtonContainer"><button id="connexion" type="button" class="btn btn-warning btn-sm"></button></div>
        </div>
    </h1>
    <div class="card">
        <div class="card-body center">
            Le Cabinet dentaire du docteur Dupont est un espace médical réservé à la santé bucco-dentaire mais aussi à l'amélioration ou au rétablissement du sourire
        </div>
    </div>

    <div class="container mTop20">
        <div class="row justify-content-center">
            <div class="col-auto">
                <div id="imgClinicContainer" class="row mBot20 centerFlex">
                    <div id="carouselClinic" class="carousel slide carousel-fade" data-bs-ride="carousel">
                        <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/learningFormation2/public/img/clinic/clinic.webp" class="d-block w-100 bRad5" alt="First slide">
                            <div class="carousel-caption d-none d-md-block carouselImgTxtContainer">
                                <h5>La clinique et son équipe</h5>
                                <p>Nous sommes beaux comme des Dieux !</p>
                            </div>                        
                        </div>
                        <div class="carousel-item">
                            <img src="/learningFormation2/public/img/clinic/sourire.webp" class="d-block w-100 bRad5" alt="Second slide">
                            <div class="carousel-caption d-none d-md-block carouselImgTxtContainer">
                                <h5>Un patient et son sourire</h5>
                                <p>Plus de douleur, plus que du plaisir !</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/learningFormation2/public/img/clinic/wordBestDentiste.webp" class="d-block w-100 bRad5" alt="Second slide">
                            <div class="carousel-caption d-none d-md-block carouselImgTxtContainer">
                                <h5>Robert Dupond récompensé</h5>
                                <p>Robert Dupond a reçu le trophée du meilleur dentiste du monde !</p>
                            </div>
                        </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselClinic" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselClinic" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
            <div id="schedulesContainer" class="col-auto mBot20">
                <div class="row mTop20">
                    <div class="d-flex justify-content-center">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                            <h5 class="card-title center">Horaires d'ouverture</h5>
                            <p class="card-text">
                                <div>
                                    <% schedules.forEach(function(schedule) { %>
                                        <div class="row ml23">
                                            <div class="col-5"><%= schedule.dayOfWeek %></div>
                                            <div class="col"><%= schedule.openTime.slice(1, 5) + ' - ' + schedule.closeTime.slice(0, 5) %></div>
                                        </div>
                                    <% }); %>
                                </div>
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="center">Services proposés:</h2>
        <div class="row g-3 justify-content-center">
            <% services.forEach(function(service) { %>
                <div class="col-lg-3 col-md-5 col-sm-6 me-2">
                    <div class="card" style="height: 8rem; ">
                        <div class="card-body">
                        <h5 class="card-title center"><%= service.name %></h5>
                        <p class="card-text"><%= service.description %></p>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</main>
    
<%- include('includes/footer') %>