<%- include('includes/header') %>

<main>
    <div class="container" style="min-height: 800px;">
        <h1 class="center">Les actualités du cabinet</h1>
        <div class="">
            <% news.forEach(function(theNews) { %>
                <div class="d-flex justify-content-center">
                    <div class="card" style="width: 54rem; margin-top: 25px; ">
                        <div class="card-body pBot0">
                        <h5 class="card-title center">
                            <div class="newsItem">
                                <span><%= theNews.author %></span>
                                <span>- <%= theNews.date %></span>
                                <span><%= theNews.time %></span> 
                            </div>
                            <div class="newsTitle"><%= theNews.title %></div>
                        </h5>
                        <div class="center"><img src="<%= theNews.imageUrl %>" class="card-img newsImg" alt="Une image"></div>
                        <p class="card-text"><%- theNews.content %></p>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
<main>
    
<%- include('includes/footer') %>